dist: trusty
language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - nightly

matrix:
  allow_failures:
    - php: nightly

cache:
  directories:
  - $HOME/.composer/cache

install:
  - composer install --prefer-dist --ignore-platform-reqs

script:
  - vendor/bin/phpunit
